
token.php
/vendor
/_globals
/users
/guilds
/tools
run.bat
cmd.exe
connect.php
composer.lock
palace_connect.php
serverinfo.json
tdm_veteran_mode.php
veteran_mode.php
tdm_linked_mode.php
persistence_linked_mode.php
nomads_veteran_mode.php
nomads_linked_mode.php
phpDocumentor.phar
cmd.lnk
.php_cs.cache
remove_embed.txt
remove_result.txt
add_result.txt
add_embed.txt
run_old.php
